.work-info__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'actionBar actionBar'
    'company position'
    'startDate endDate'
    'description description';
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.work-info__form:not(.work-info__form:last-of-type) {
  border-bottom: 2px dotted var(--border-color);
}

.work-info__add-btn {
  background-color: var(--add-btn-color);
}

.work-info__optional-text {
  font-weight: 100;
}

/* Action bar */
.work-info__action-bar {
  grid-area: actionBar;
  display: flex;
  justify-content: end;
  gap: 10px;
  width: 100%;
}

.work-info__delete-btn {
  background-color: var(--delete-btn-color);
}

/* Input wrappers */

.work-info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.work-info__wrapper_school {
  grid-area: company;
}

.work-info__wrapper_degree {
  grid-area: position;
}

.work-info__wrapper_start-date {
  grid-area: startDate;
}

.work-info__wrapper_end-date {
  grid-area: endDate;
}

.work-info__wrapper_description {
  grid-area: description;
}

/* Input styling */

.work-info__input_description {
  resize: none;
  width: 100%;
  height: 5rem;
  font: inherit;
}

/* Input errors */

.work-info__error {
  width: 100%;
  min-height: 1rem;
  color: crimson;
  font-size: 0.8rem;
}

.work-info__input_error {
  outline: 2px solid crimson;
}

/* Read-only work info */

.work-info__text-content {
  width: 100%;
  min-height: var(--input-height);
  max-height: 5rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: var(--input-padding);
  color: var(--font-color);
  font-weight: 300;
  overflow: auto;
  word-wrap: break-word;
}
