.education-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.education-info__title-bar {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
  font-size: var(--title-bar-font-size);
}

.education-info__add-btn {
  width: 100%;
}
