.contact-info__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'firstName lastName'
    'email phone';
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.contact-info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.contact-info__wrapper_first-name {
  grid-area: firstName;
}

.contact-info__wrapper_last-name {
  grid-area: lastName;
}

.contact-info__wrapper_email {
  grid-area: email;
}

.contact-info__wrapper_phone {
  grid-area: phone;
}

.contact-info__input {
  width: 100%;
}

.contact-info__error {
  width: 100%;
  min-height: 1rem;
  color: crimson;
  font-size: 0.8rem;
}

.contact-info__input_error {
  outline: 2px solid crimson;
}

.contact-info__optional-text {
  font-style: italic;
}
