:root {
  --app-bg-color-white: #484848;
  --app-bg-color-gold: #978e42;
}

html {
  min-height: 100%;
  display: flex;
}

body,
#root {
  display: flex;
  flex: 1;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    var(--app-bg-color-white),
    var(--app-bg-color-gold)
  );
}
