:root {
  --app-bg-color-top: #2d0737;
  --app-bg-color-mid: #2e0f5f;
  --app-bg-color-bottom: #1e193c;
  --component-bg-color: rgba(0, 0, 0, 0.5);
  --font-color: #eee;
  --input-bg-color: #d9d9d9;
  --button-bg-color: #6a5ad7;
  --button-font-color: black;
  --button-hover-bg-color: transparent;
  --button-hover-font-color: var(--font-color);
  --border-color: gray;

  --input-height: calc(1rem + 12px);
  --input-padding: 5px;
}

html {
  min-height: 100%;
  display: flex;
}

body,
#root {
  display: flex;
  flex: 1;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background-image: linear-gradient(
    to bottom right,
    var(--app-bg-color-top),
    var(--app-bg-color-mid),
    var(--app-bg-color-bottom)
  );
}

/* Default styling */

label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

input {
  width: 100%;
  height: var(--input-height);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: var(--input-padding);
  background-color: var(--input-bg-color);
}

button {
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: var(--button-bg-color);
  font-weight: 500;
  color: var(--button-font-color);
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
  border: 1px solid var(--button-hover-font-color);
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-font-color);
  transition: background-color 300ms, color 300ms, border 300ms;
}
