:root {
  --add-btn-color: #609f3b;
  --delete-btn-color: #c81963;

  --title-bar-font-size: 1.75rem;
}

.cv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min(90vw, 600px);
  min-width: 320px;
  padding: 20px;
  background-color: var(--component-bg-color);
  border-radius: 10px;
  color: var(--font-color);
}
