:root {
  --cv-bg-color: rgba(0, 0, 0, 0.75);
  --font-color: #eee;
  --input-bg-color: #d9d9d9;
  --button-bg-color: #5d8db9;
  --button-font-color: black;
  --button-hover-bg-color: transparent;
  --button-hover-font-color: var(--font-color);
  --border-color: gray;

  --input-height: calc(1rem + 12px);
  --input-padding: 5px;
  --title-bar-font-size: 1.75rem;
}

.cv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min(90vw, 600px);
  min-width: 320px;
  padding: 20px;
  background-color: var(--cv-bg-color);
  border-radius: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--font-color);
}

/* Default styling */

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

input {
  width: 100%;
  height: var(--input-height);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: var(--input-padding);
  background-color: var(--input-bg-color);
}

button {
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: var(--button-bg-color);
  font-weight: 500;
  color: var(--button-font-color);
}

button:hover {
  cursor: pointer;
  border: 1px solid var(--button-hover-font-color);
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-font-color);
}
