:root {
  --cv-bg-color: rgba(164, 168, 187, 0.5);
}

.cv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--cv-bg-color);
  border-radius: 10px;
}

/* Default styling */

label {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

input {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

input:focus {
  outline: 2px solid var(--input-focus-color);
}
