:root {
  --input-focus-color: #3a7acc;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Title bar */

.contact-info__title-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.contact-info__title {
  font-size: 1.5rem;
}
