.education-info__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'actionBar actionBar'
    'school degree'
    'startDate endDate';
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.education-info__form:not(.education-info__form:last-of-type) {
  border-bottom: 2px dotted var(--border-color);
}

.education-info__add-btn {
  background-color: var(--add-btn-color);
}

/* Action bar */
.education-info__action-bar {
  grid-area: actionBar;
  display: flex;
  justify-content: end;
  gap: 10px;
  width: 100%;
}

.education-info__update-btn,
.education-info__delete-btn {
  width: 70px;
}

.education-info__delete-btn {
  background-color: var(--delete-btn-color);
}

/* Input wrappers */

.education-info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.education-info__wrapper_school {
  grid-area: school;
}

.education-info__wrapper_degree {
  grid-area: degree;
}

.education-info__wrapper_start-date {
  grid-area: startDate;
}

.education-info__wrapper_end-date {
  grid-area: endDate;
}

/* Input errors */

.education-info__error {
  width: 100%;
  min-height: 1rem;
  color: crimson;
  font-size: 0.8rem;
}

.education-info__input_error {
  outline: 2px solid crimson;
}

/* Read-only education info */

.education-info__text-content {
  width: 100%;
  height: var(--input-height);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: var(--input-padding);
  color: var(--font-color);
  font-weight: 300;
}
